@import '../../colours.scss';

.main {
  width: 100%;
  background-color: $grey10;
  
}

.template-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}