@import '../../colours.scss';

.signup-page {
  
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-page-content {
  background-color: white;
  width: 50%;
  h1 {
    font-size: 1.7rem;
    color: $grey4;
    font-weight: 400;
    margin-bottom: 1em;
  }
}

.signup-info-pane {
  background-color: $grey2;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $blue10;
  }

  ul {
    width: 90%;
    
    li {
      display: flex;
      align-items: center;
      i {
        font-size: 1.4rem;
        color: $yellow7;
                
      }

      p {
        color: $blue10;
      }

      &:last-child {
        i {
          font-size: 1.9rem;
        }
      }
    }
  }
}

.signup-page-content-wrapper {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(black, 0.2);
}