@import '../../colours.scss';

.navbar {
    
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 2em;
  left: 2em;
  width: 70px;
  height: 70px;
  padding: 0 1.4em;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(black, 0.3);
  transition: all 0.2s ease;
  border-radius: 50px;

  i {
    font-size: 1.6rem;
    color: $grey3;
    margin-top: 5px;
  }
}

.navbar.extended {
  width: 400px;

}

.navbar-toggle {
  transition: all 0.2s ease;
}

.navbar-toggle.extended {
  transform: rotateZ(45deg);
}