@import '../../colours.scss';

.subnav {
  height: 80px;
  width: 100%;
  background-color: white;
}

.subnav-item {
  color: $grey4;
}

.subnav-profile-img {
  width: 40px;
  height: 40px;
  background: blue;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(black, 0.4);
}