@import '../../colours.scss';


.matches-wrapper {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 2px 19px rgba($grey4, 0.1);
  position: relative;
}
.matches-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}

.matches-grid-item {

  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;  transition: all 0.2s ease;
  &:hover .grid-details {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 13px 13px rgba(black, 0.1);
  }
}

.grid-profile-img {
  width: 100%;
  object-fit: cover;
}

.grid-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 0 0.8em;
  opacity: 0;
  transition: all 0.2s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  h4 {
    color: $grey3;
    font-weight: 700;
    font-size: 0.8rem;
  }

  p {
    color: $blue7;
    font-weight: 300;
    font-size: 0.8rem;
  }
}

#scroll-left {
  left: -25px;
}

#scroll-right {
  right: -25px;
}

#scroll-left,
#scroll-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(black, 0.4);
  font-size: 1.2rem;
  transition: all 0.2s ease;
  
  &:hover {
    background-color: $grey3;
    color: $yellow7;
  }
}