@import '../../colours.scss';

.gps-locator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $grey2;
  color: $yellow7;
  border: 2px solid $yellow7;
  border-radius: 50%;
  font-size: 1.3rem;
  box-shadow: 0px 2px 8px rgba(black, 0.2);
}

.initial-profile {
  height: 100vh;
  width: 100%;
  .left {
    width:40%;
    height: 100%;
    background: linear-gradient(319deg, rgba(214,127,92,1) 0%, rgba(87,46,222,1) 100%);
    overflow: hidden;
    
    h1 {
      color: white;
      text-shadow: 0px 2px 10px rgba(black, 0.4);
      font-size: 5vw;
      width: 55%;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;
    }
  }

  .right {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
  }
}