@import '../../colours.scss';

.full-page-hero {
 
  height: 100vh;
  background: url('../../assets/images/hero.jpg') center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 55%;
  position: relative;
}


.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-left: 3em;
  h1 {
    text-transform: uppercase;
    color: $grey2;
    font-size: 7rem;
    margin-bottom: 0.2em;
    line-height: 1.2em;
    width: 60%;
    margin-bottom:1em;
  }

  p {
    color: $grey7;
    width: 50%;
    margin-bottom: 4em;
    line-height: 1.8em;
    font-size:1.3rem;
  }
}

.hero-wrapper {
  display: flex;
}



.list {
  display: none;
  padding-left: 2em;
  transition: display 10ms ease;
  overflow: hidden;
  a {
    color: $grey5;
    text-decoration: none;
    transition: all 0.2s ease;
    white-space: nowrap;
    &:hover {
      color: $blue8;
    }

    &:not(:last-child) {
      margin-right: 0.8em;
    }
  }
}

.list.extended {
  display: flex;
}

.hero.title {
  margin-left: 1em;
  font-size: 2rem;
  color: $grey2;
}

