@import '../../colours.scss';

.profile-img-wrapper {
  flex:1;
  margin-right: 2em;
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(black, 0.3);
  }
}

.profile-main-wrapper {
  flex: 2;
}

.profile-fullname {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;

}

.profile-minor-details {
  p {
    color: $blue7;
  }
}
.profile-summary {
  line-height: 1.8em;
  font-size: 1rem;
}

.profile-detail-list {
  flex-wrap: wrap;

  li {
    padding: 1em;
    background-color: $grey10;
    border-radius: 10px;
    margin: 0.3em;
    border: 1px solid $grey9;
    box-shadow: 0px 1px 3px rgba(black, 0.2);
    h5 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}