@import '../../colours.scss';

.brand {
  width: 100%;
  height: 120px;
  background-color: $grey9;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  border-right: 1px solid $grey9;
}

.nav-link {
  a {
    color: $grey4;
    font-weight: 400;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 2px;
      background: $blue6;
      transition: all 0.2s ease;

    }
  }

  i {
    color: $grey3;
  }

  &:hover {
    i,
    a {
      color: $blue6;
    }
    a::after {
      width: 100%;
    }
  }
}