@import './colours.scss';

html,
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: hsl(0, 0%, 99.1%);
  * {
    box-sizing: border-box;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey3;
}

p {
  color: $grey5;
}

.subtle {
  color: $grey7;
  font-size: 0.8rem;
}

.light-title {
  color: $grey7;
  letter-spacing: 1px;
}