@import '../../colours.scss';

.btn.special {
  
  width: 100%;
  height: 75px;
  max-width: 250px;

  background: linear-gradient(67deg, rgba(76,99,182,1) 0%, rgba(239,78,78,1) 100%);
  color: white;
  font-size: 1.5rem;

}

.btn {
  display: flex;
  width: 170px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(black, 0.4);
  
}

.btn.btn-green {
  background-color: $green;
  border: none;
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease;
  &:hover {
    background-color: darken($green, 5%);
  }
}

.btn-match {
  display: flex;
  width: auto;
  padding: 0 1.3em;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: $blue7;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 0px 10px 1px rgba($blue7, 0.8);
}