@import '../../colours.scss';

.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.field-group.light {
  background-color: white;
}

.label {
  margin-bottom: 0.7em;
  color: $grey6;
}

.input {
  background-color: transparent;
  color: $grey5;
  width: 100%;
  outline: none;
  border: none;
  padding: 1em;
}

.input-wrapper {
    border: 1px solid $grey8;
    border-radius: 50px;


}
.input-wrapper.light {
  background-color: white;
}

.icon-input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $yellow7;
  border: 2px solid $yellow7;
  background: $grey1;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(black, 0.3);
}

.radio-btn.big {
  width: 150px;
  height: 100%;

  i {
    background: $grey1;
    color: $yellow7;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid $yellow7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 2px 10px rgba(black, 0.5);
  }
}

.checkbox-styled {
  display: none;
  &:checked + label {
    background-color: $green;
    box-shadow: 0px 2px 9px rgba(black, 0.5);
  }
}

.checkbox-label {
  width: 30px;
  height: 30px;
  background-color: $grey9;
  box-shadow: inset 0px 2px 3px rgba(black, 0.3);
  border-radius: 50%;
  transition: all 0.2s ease;  
}

.slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 100%;
  outline: none;
  appearance: none;
  background-color: $grey8;
  border-radius: 50px;
  height: 10px;

  &::-webkit-slider-thumb {
    appearance: none;
    background: $yellow7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.5);
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(black, 0.4);

  }

  &::-webkit-slider-thumb:active {
    background: darken($yellow7, 15%);
    border: 2px solid $blue3;

  }
}

.date-picker {
  border-radius: 50px;
  border: 1px solid $grey9;
  padding: 0.5em 1em;
  box-shadow: 0px 1px 3px rgba(black, 0.1);
  font-family: 'Poppins', sans-serif;
}

::-webkit-datetime-edit-text {
  margin: 0 0.7em;
}

.select-field {
  border: 1px solid $grey9;
  padding: 1em;
  background-color: white;
  appearance: none;
  border-radius: 50px;
  box-shadow: 0px 1px 3px rgba(black, 0.1);
}

.textarea {
  font-family: 'Poppins', sans-serif;
  padding:0.5em 1em;
  border-radius: 10px;
  border: 1px solid $grey8;
  color: $grey2;
  width: 100%;
}