@import '../../colours.scss';

.recent-activity-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1em;
  margin-right: 1em;
  box-shadow: 0px 2px 19px rgba($grey4, 0.1);

}